<h1> Add Category </h1>

<!--  form action = "/categories" method = "post" -->
<%= form_for @category do |f| %>
<h3> Errors: </h3>
<% if @category.errors.any? %>
<ul>
	<% @category.errors.full_messages.each do |msg| %>
		<li> <%= msg %> </li>
		<% end %>
			</ul>
			<% end %>
	<label>Name: </label><!-- <label>Name : </label> -->
	<%= f.text_field :name %><br/>

	<%= f.submit "submit" %>

<% end %>

<!--
<form action = ".." method="post">
<label>Name  </label>	
<input type = "text">
<input type = "submit"
</form> -->